*,
*::before,
*::after {
    box-sizing: border-box;
}

.siteTitle {
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 2px;
    align-items: center;
    position: relative;
    left: 0px;
    top: -5px;
}

.wormie {
    position: relative;
    height: 80px;
    left: 20px
}

.homeloginout {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 1px;
    align-items: center;
    position: relative;
    left: 70px;
    /* top: -70px; */
    width: 100%;
}

.userstuff {
    position: relative;
    align-items: center;
    width: 400px;
    display: grid;
    /* top: -146px; */
}

.headerOptions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: auto;
    height: 31px;
    left: 20%;
    top: 26px;

}

.userName {
    /* position: relative;
    width: 450px;
    border: solid;
    text-align: right; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 101px;
    height: 32px;
    left: 90%;
    top: 24px;

}

.currentBookandBookReview {
    position: relative;

    /* border: solid; */
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
    gap: 100px;
    height: 289px;
    justify-content: center;

    background: linear-gradient(0deg, rgba(239, 146, 115, 0.2), rgba(239, 146, 115, 0.2)), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('./images/bookshelfbackground.jpg');
}

.currentBook {
    position: relative;
}

.userReview {
    position: relative;

}

.BookclubFeed {
    position: relative;
    /* border: solid; */
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 499px;
    background: #F8F0EE;

}

.UserReviews {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 499px;
}

.Bookshelf {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 345px;
    background: #F8F0EE;
}

.Bookclubs {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 585px;

    background: linear-gradient(0deg, rgba(239, 146, 115, 0.2), rgba(239, 146, 115, 0.2)), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('./images/bookshelfbackground.jpg');
}


.search {
    position: relative;
    display: grid;
    align-items: center;
    margin-left: 70px;
    left: 120px;
}

.searchdiv {
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
}




.bookclublogoutoptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4px;
}


.headerGroup1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerGroup2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}