*,
*::before,
*::after {
    box-sizing: border-box;
}

.siteTitle {
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 2px;
    align-items: center;
    position: relative;
    left: 0px;
    top: -5px;
}

.wormie {
    position: relative;
    height: 80px;
    left: 20px
}

.homeloginout {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 1px;
    align-items: center;
    position: relative;
    left: 70px;
    /* top: -70px; */
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
}

.userstuff {
    position: relative;
    align-items: center;
    width: auto;
    display: grid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    /* top: -146px; */
}

.headerOptions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: auto;
    height: 31px;
    left: 20%;
    top: 26px;

}

.userName {
    /* position: relative;
    width: 450px;
    border: solid;
    text-align: right; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 101px;
    height: 32px;
    left: 90%;
    top: 24px;

}

.currentBookandBookReview {
    position: relative;

    /* border: solid; */
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
    gap: 100px;
    height: 289px;
    justify-content: center;

    background: linear-gradient(0deg, rgba(239, 146, 115, 0.2), rgba(239, 146, 115, 0.2)), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('./images/bookshelfbackground.jpg');
}

.currentBook {
    position: relative;
}

.currentbooklabel {
    position: relative;
    top: -10px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 0;

}

.currentbookreviewslabel {
    position: relative;
    top: -10px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 0;
}

.bookshelfbooktitles {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.userReview {
    position: relative;

}

.BookclubFeed {
    position: relative;
    /* border: solid; */
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 499px;
    background: #F8F0EE;

}

.UserReviews {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 499px;
}

.Bookshelf {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 345px;

    background: #F8F0EE;
}



.Bookclubs {
    position: relative;
    /* border: solid; */
    width: 100%;
    height: 585px;

    background: linear-gradient(0deg, rgba(239, 146, 115, 0.2), rgba(239, 146, 115, 0.2)), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('./images/bookshelfbackground.jpg');
}


.search {
    position: relative;
    display: grid;
    align-items: center;
    margin-left: 70px;
    /* left: 120px; */
}

.searchdiv {
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
}




.bookclublogoutoptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4px;
}


.headerGroup1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerGroup2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bookshelflist {
    display: 'flex';
    flex-direction: 'row';
    padding: 0;
    width: 100%;
    height: 100%;
}



.favimageList {
    position: relative;
    overflow-y: auto;
    transform: rotate(-90deg) translateY(-65%);
    transform-origin: right top;
    color: white;
    margin: auto;
    z-index: 5;
}

.favimageList.squares {
    /* height: 100%; */
}

.bookshelfcard {
    height: 212px;
    width: 151px;
}


.bookshelftitle {
    position: relative;
    left: -530px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;

}

.favbooklistitem {
    transform: rotate(90deg);
    position: relative;
    width: 300px;
    align-items: center;
    position: relative;
    left: 20%;
}


.listItem {
    width: 100%;
    overflow: scroll;
    position: relative;
    left: 0;

    /*the width actually: */
    height: 1200px;
}

.listItem::-webkit-scrollbar {
    display: none;
}

.currentbookreview::-webkit-scrollbar {
    display: none;
}

.currentbooksynopsis::-webkit-scrollbar {
    display: none;
}